h1 {
	width: 100%;
	text-align: center;
}
form {
	width: 40%;
	margin: auto;
}
input {
	margin: 10px;
}
.submit-btn {
	margin: 10px;
	width: 100%;
}
h3, h4, h5 {
	margin: 0px;
}
.programs-con {
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	padding-top: 50px;
}
.programs {
	margin-bottom: 15px;
}
.divider {
	width: 100%;
	height: 1px;
	background-color: #f2f2f2;
}
.programs-grid-titles, .programs-grid-info {
	width: 100%;
	height: auto;
}
.programs-grid-inner {
	display: inline-block;
	width: 33.33%;
	float: left;
	text-align: center;
	padding: 10px;
}
.edit-btn {
	width: 100px;
	display: block;
	margin-top: 10px;
	margin-left: 0px;
}